<header id="top-header">
    <span class="siteName">
        <img src="/images/site/icon.png" alt="EKG Motors logo">
        <a href="/" title="Return to home page">EKG Motors</a>
    </span>
    <div class="tools">
        <% if (loggedin) { %>
            <span>Welcome, <%= accountData.account_firstname %></span>
            |
            <a href="/account/logout">Logout</a>
            <% } else { %>
                <a href="/account/login">Account</a>
                <% } %>
    </div>
</header>