/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("/images/site/small_check.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}
h1, h2 {
  font-family: "Inter", sans-serif;;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#tools a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  color: black;
  text-decoration: none;
}

header .siteName{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

nav ul{
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

nav ul li{
  list-style: none;
  padding: 1rem;
  color: white;
  font-family: "Poppins", sans-serif;
}
nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul li:hover{
  background-color: #555;
  cursor: pointer;
}

#wrapper{
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  border: solid 5px rgb(18, 147, 227);
  border-radius: 10px;
  padding: 5px;
}

.hero {
  width: 80%;
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  margin-top: 20px;
}

.container {
  padding: 2rem;
  position: absolute;
  top: 35%;
  left: 20%;
  background-color: white;
  opacity: 0.8;
  color: rgb(6, 99, 156);
}

.own-today {
  width: 120px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  gap: 0;
}

.upgrades-container {
  width: 50%;
}

.upgrades {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.upgrades img {
  width: 50%;
  height: auto;
}

.upgrades a {
  display: block;
}
.box {
  width: 48%;
  /* two boxes per row */
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.reviews ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

#inv-display li {
  width: 30%;
  text-align: center;
  list-style-type: none;
  border-radius: 8px;
  border: 2px solid #ccc;
}

#inv-display li img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

#inv-display li .namePrice span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


.vehicle-detail {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.vehicle-image img {
  max-width: 100%;
  height: auto;
}

.vehicle-info {
  max-width: 500px;
}

/* Flash Message Styles */
.notice {
  color: red;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: -1;
}


/* Error Message Styles */
.error-list {
  color: rgb(209, 19, 19);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.error-list li {
  margin-bottom: 5px;
  list-style-type: none;
  font-style: italic;
}

/* Login Page Styles */
.login {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.login label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  ;
}

.login button {
  display: block;
  width: 45%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login p {
  text-align: center;
  font-size: 0.9rem;
}


/* Register Page Styles */

.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.register label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.register button {
  display: block;
  width: 35%;
  padding: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 0;
}
.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register input:required:invalid, .register input:focus:invalid {
  border-left: 4px solid red;
}

.register input:required:valid {
  border-left: 4px solid green;
}



/* Inventory Management Styles */
.management ul li {
  font-size: 18px;
  margin-top: 3px;
}


.classification {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #7bb5f3;
}

.classification label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}
.classification button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
.classification input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.classification form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}


/* Add Inventory Styles */
.add-inventory {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #7bb5f3;
}

.add-inventory label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: black;
}

.add-inventory button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}
.add-inventory input[type="text"],
.add-inventory input[type="number"],
.add-inventory input[type="select"],
.add-inventory input[type="url"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.add-inventory textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#inventoryDisplay th {
  background-color: #7bb5f3;
  color: white;
  padding: 10px;
}
#inventoryDisplay td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#inventoryDisplay img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}


.delete-inventory {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #7bb5f3;
}

.delete-inventory form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: black;
}

.delete-inventory form input[type="text"],
.delete-inventory form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-inventory form button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}


/* Account Update Styles */
.updateAccount-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;  
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #7bb5f3;
}
.updateAccount-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: black;
}
.updateAccount-form button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.updateAccount-form input[type="text"],
.updateAccount-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.changePassword-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;  
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #7bb5f3;
}

.changePassword-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: black;
}

.changePassword-form button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.changePassword-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.account-update h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}


/* Responsive Design */

@media  (max-width: 1024px) {
  .container {
    width: 35%;
    margin-top: 1rem;
    left: 10%;
    top: 22%;
  }  
  
    .container .own-today {
      width: 150px;
      margin: 0 auto;
    }
}


@media (max-width: 768px) {
  .container {
    width: 33%;
    margin-top: 1rem;
    left: 3%;
    top: 28%;
  } 
  .container h2 {
    font-size: 14px;
  }
  .container p {
    font-size: 10px;
  }
  .container2 {
    flex-direction: column;
    align-items: center;
  }
  .upgrades-container {
    width: 80%;
  }
  nav ul {
    font-size: smaller;
    justify-content: flex-start;
  }
  .hero h2, .hero p {
    font-size: smaller;
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 1.5rem;
  }

  .item1{
    order: 2;
  }

  .item2{
    order: 1;
  }

  .vehicle-detail {
    flex-direction: column;
  }
}


footer p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
}


@media screen and (max-width: 480px) {
  .container {
    width: 40%;
    margin-top: 1rem;
    left: 10%;
    top: 22%;
  }
  
  .container .own-today {
    width: 65px;
    margin: 0 auto;
  }
  
 .container h2 {
   font-size: 12px;
 }
  
 .container p {
       font-size: 9px;
   }

  nav ul {
    justify-content: space-between;
    align-items: center;
  } 
  nav ul li {
    padding: 0.5rem;
    font-size: 10px;
  }
}